[submodule "models/basic_pitch"]
	path = models/basic_pitch
	url = https://github.com/gudgud96/basic-pitch-torch.git
[submodule "models/timbre_trap"]
	path = models/timbre_trap
	url = https://github.com/sony/timbre-trap.git
